<?xml version="1.0" ?>
<launch>

    <arg name="tool" default="camera"/>

    <include file="$(find robot_arm_3Dscan)/launch/Setup.launch">
        <arg name="tool" value="$(arg tool)"/>
	</include>

    <node pkg="robot_arm_3Dscan" type="ICP_filtering_node" name="ICP_filtering_node" output="screen"/>
	<node pkg="robot_arm_3Dscan" type="ICP.py" name="ICP_node" output="screen"/>

</launch>