<?xml version="1.0" ?>
<launch>
    
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_robot_link" args="0 -0.0175 -0.0042 1.5708 0 0 $(arg robot_name)_cameraD435 camera_link" if="$(eval arg('tool_name') == 'cameraD435')"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_robot_link" args="0 -0.009 -0.012 1.5708 0 0 $(arg robot_name)_cameraD405 camera_link" if="$(eval arg('tool_name') == 'cameraD405')"/>

    <!-- CAMERA SETUP -->
    <arg name="realsense_json_file_path" default="$(find robot_arm_3d_scan)/config/camera/HighAccuracyPreset.json"/>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="true"/> <!-- Remark : all frames will be transfered in the RGB viewport ! -->
        <arg name="filters" value="temporal,pointcloud"/>
        <arg name="clip_distance" value="0.5"/>
        <arg name="json_file_path" value="$(arg realsense_json_file_path)"/>
    </include>

    <!-- GENERIC REMAP OF TOPICS NAMES -->
    <remap from="/camera/color/image_raw" to="/rgb"/>
    <remap from="/camera/aligned_depth_to_color/image_raw" to="/depth"/>
    <remap from="/camera/color/camera_info" to="/camera_info"/>

</launch>
