<?xml version="1.0" ?>
<launch>
    
    <!-- CAMERA SETUP -->
    <arg name="realsense_json_file_path" default="$(find robot_arm_3d_scan)/config/camera/ShortRangePreset.json"/>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="true"/>
        <arg name="filters" value="pointcloud,temporal,decimation,disparity"/>
        <arg name="json_file_path" value="$(arg realsense_json_file_path)"/>
    </include>

    <!-- POINT CLOUD PARAMETERS -->
    <param name="pointCloudTopic" value="/camera/depth/color/points"/>

</launch>