<?xml version="1.0" ?>
<launch>
    <arg name="tool" default="camera"/>
    <arg name="method" default="icp"/>

    <group if="$(eval arg('tool') == 'camera')">
        <include file="$(find robot_arm_3d_scan)/launch/SetupRealSense.launch"/>
    </group>
    
    <group if="$(eval arg('method') == 'icp')">
        <include file="$(find robot_arm_3d_scan)/launch/ICP.launch"/>
    </group>

    <group if="$(eval arg('method') == 'rtabmap' and arg('tool') == 'camera')">
        <include file="$(find robot_arm_3d_scan)/launch/RTABMAP.launch"/>
    </group>

    <node pkg="robot_arm_3d_scan" type="robot_arm_3d_scan_spheric_scan" name="robot_arm_3d_scan_spheric_scan" output="screen" args="$(arg tool) /$(arg method)_server"/>

</launch>