<?xml version="1.0" ?>
<launch>

    <!-- GENERAL ARGUMENTS-->
    <arg name="robot_name" default="panda"/>
    <arg name="tool_name" default="camera"/>
    <arg name="simulation" default="false"/>
    <arg name="calibration" default="true"/>
    <arg name="safety_distance" default="0.03"/>
    <arg name="method" default="icp"/>

    <!-- ROBOT SETUP -->
	<include file="$(find robot_arm_tools)/launch/Setup_$(arg robot_name).launch">
		<arg name="tool_name" value="$(arg tool_name)"/>
		<arg name="simulation" value="$(arg simulation)"/>
        <arg name="calibration" value="$(arg calibration)"/>
		<arg name="safety_distance" value="$(arg safety_distance)"/>
	</include>

    <!-- TOOL SETUP -->
    <group if="$(eval arg('tool_name') == 'camera')">
        <include file="$(find robot_arm_3d_scan)/launch/Setup_realsense.launch"/>
    </group>

    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_robot_link" args="0 -0.0175 -0.0042 0 -1.57 3.14 $(arg robot_name)_camera camera_link" />
    
    <!-- SCANNING METHOD SETUP -->
    <group if="$(eval arg('method') == 'icp')">
        <include file="$(find robot_arm_3d_scan)/launch/ICP.launch"/>
    </group>

    <group if="$(eval arg('method') == 'rtabmap' and arg('tool') == 'camera')">
        <include file="$(find robot_arm_3d_scan)/launch/RTABMAP.launch"/>
    </group>

    <!-- MAIN NODE -->
    <param name="measurementServerName" value="/icp_server"/>
    <param name="storageFolderName" value="/tmp/SphericScan_$(arg method)/"/>
    <rosparam command="load" file="$(find robot_arm_3d_scan)/config/AcquisitionParameters.yaml"/>

    <node pkg="robot_arm_3d_scan" type="robot_arm_3d_scan_spheric_scan_node" name="robot_arm_3d_scan_spheric_scan_node" output="screen">
        <param name="measurementServer" value="/$(arg method)_server"/>
		<rosparam command="load" file="$(find robot_arm_3d_scan)/config/AcquisitionParameters.yaml"/>
    </node>

    <!-- RVIZ -->	
    <param name="environmentFileName" value="$(find robot_arm_tools)/config/environments/OptiTrack.yaml"/>
    <node pkg="robot_arm_tools" type="robot_arm_tools_environment_node" name="robot_arm_tools_environment_node" output="screen"/>
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find robot_arm_tools)/config/3DScanSetup.rviz"/> 

</launch>